<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) %></title>
    <meta name="description" content="<%= content_for?(:description) %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
    <% flash.each do |key, value| %>
      <%= build_flash(key, value) %>
    <% end %>
       <div class="container">
         <form role="form" action="/">
           <h2 class="">Busca de produtos</h2>
           <input type="text" class="form-control" name="keywords">
           <br>
           <button class="btn btn-primary btn-block" type="submit">Procurar</button>
           <br>
         </form>
         <div class="row">
           <% if @products.present? %>
             <% @products.each do |product| %>
               <div class="col-sm-6 col-md-5">
                 <div class="thumbnail">
                   <%= image_tag product.image.url unless product.image.url.nil? %>
                 </div>
                 <p><%= product.name %></p>
                 <p><%= product.price %></p>
                 <%= link_to product.url unless product.url.nil? %>
               </div>
             <% end %>
           <% end %>
         </div>
       </div>
       <%= yield %>
    </main>
  </body>
</html>
